*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.container {
    max-width: 600px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.container-account {
    max-width: 570px;
    width: 100%;
}

h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #1C1C1C;
}

.email p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: -0.1px;
    color: #969696;
    margin-top: 7px;
}

label {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: -0.2px;
    color: #545454;
}

.first-name {
    padding-right: 12px;
}

.first-name, .last-name {
    display: inline-block;
}

.form-bio .input-holder input {
    width: 245px;
    height: 38px;
    background: #FFFFFF;
    border: 1px solid #E4E4E4;
    border-radius: 6px;
}

.input-holder {
    padding-top: 7px;
}

.email {
    padding-top: 20px;
}

.form-bio .email input {
    width: 510px;
    height: 38px;
    background: #FFFFFF;
    border: 1px solid #E4E4E4;
    border-radius: 6px;
}

.radio-btn {
    padding-right: 21px;
}

.radio-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.radio-list li {
    display: inline-block;
    padding: 0;
    margin: 0 0 20px;
}

.radio-btn input[type="radio"] {
    position: fixed;
    top: -1000vh;
    left: -1000vw;
    opacity: 0;
    visibility: hidden;
}

.radio-btn input[type="radio"]:checked + label::after {
    opacity: 1;
    visibility: visible;
}

.radio-btn label {
    display: block;
    position: relative;
    padding-left: 30px;
}

.radio-btn label::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #E4E4E4;
}

.radio-btn label::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
    width: 19px;
    height: 19px;
    border-radius: 50%;
    background: #FFFFFF;
    opacity: 0;
    visibility: hidden;
    border: 6px solid #007BFF;
    transition: all ease-in-out 1.5ms;
}


.country-block {
    padding-right: 12px;
}

.country-block, .city-block {
    display: inline-block;
    padding-bottom: 20px;
}

select {
    width: 245px;
    height: 38px;
    background-color: #FFFFFF;
    border: 1px solid #E4E4E4;
    border-radius: 6px;
}

.btn {
    display: block;
    background-color: #007BFF;
    border: 1px solid #E4E4E4;
    border-radius: 6px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    letter-spacing: -0.1px;
    color: #FFFFFF;
    padding: 8px;
    width: 510px;
}

.text-holder {
    max-width: 410px;
    text-align: center;
    padding: 20px 0 10px 60px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    letter-spacing: -0.1px;
    color: #969696;
}

hr {
    width: 510px;
    position: absolute;
    background-color: #E4E4E4;
    opacity: 0.5;
}

.authentication-holder {
    text-align: center;
    margin-left: -110px;
    padding-top: 10px;
}

.authentication-link {
    list-style: none;
    display: inline-flex;
}

.authentication-item {
    padding-right: 20px;
}

.authentication-item a {
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    text-align: right;
    letter-spacing: -0.2px;
    color: #545454;
}

.authentication-item a:hover {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: -0.1px;
    color: #007BFF;
}