.navbar-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 40px;

    width: 496px;
    height: 30px;

    flex: none;
    order: 0;
    flex-grow: 0;
    z-index: 0;

    list-style-type: none;
    margin: 0 auto;
}

.main-title {
    font-weight: 700;
    font-size: 48px;
    line-height: 65px;

    color: #070707;
}

.bio {
    /* display: flex; */
    position: absolute;
    width: 970px;
    height: 497px;
    left: 235px;
    top: 92px;
}

.about-me-title {
    font-weight: 700;
    font-size: 34px;
    line-height: 46px;
    /* text-align: center; */

    color: #070707;
}

.about-me {
    text-align: center;

    position: absolute;
    width: 970px;
    height: 500px;
    left: 235px;
    top: 589px;

    background: #F6F6F6;
}

.text {
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;

    color: #070707;
}

.skills {
    text-align: center;

    position: absolute;
    width: 970px;
    height: 564px;
    left: 235px;
    top: 1089px;
}

/* .skills-title {
    font-weight: 700;
    font-size: 34px;
    line-height: 46px;
    text-align: center;

    color: #070707;
} */

.prod-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 97px;

    width: 970px;
    height: 230px;
}

.portfolio {
    position: absolute;
    width: 970px;
    height: 2268px;
    left: 235px;
    top: 1653px;
}

.portfolio-title, .contacts-title, .skills-title {
    font-weight: 700;
    font-size: 34px;
    line-height: 46px;
    text-align: center;

    color: #070707;
}