.form-bio {

    .input-holder {

        padding-top: 7px;

        input {
            width: 245px;
            height: 38px;
            background: #FFFFFF;
            border: 1px solid #E4E4E4;
            border-radius: 6px;
        }
    }

    .email {

        input {
            width: 510px;
            height: 38px;
            background: #FFFFFF;
            border: 1px solid #E4E4E4;
            border-radius: 6px;
        }
    }
}